[submodule "api"]
	path = api
	url = https://github.com/CarlosArguello/realty-hub-api.git
	branch = main
[submodule "web"]
	path = web
	url = https://github.com/CarlosArguello/realty-hub-app.git
	branch = main

